.card {
  border: 1px solid deepskyblue;
  width: 80%;
  max-width: 200px;
  margin: 0.5rem auto;
  padding: 0.5rem;
  border: 1px solid transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
  z-index: 1;
}

.zoomed {
  transform: scale(1.2);
  z-index: 2;
}

.dragging {
  cursor: grab;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  border-bottom: 1px solid #ccc;
}

.cardBody {
  padding: 0.5rem;
}

.cardEffect,
.cardName,
.cardEnergyCost {
  margin: 5px;
}

.cardBack {
  border: 1px solid deepskyblue;
  width: 80%;
  max-width: 200px;
  margin: 0.5rem auto;
  padding: 0.5rem;
  background-color: #ccc;
}